@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden; 
}

#root {
  min-height: 100vh;
  width: 100%;
  padding: 0 !important; 
  margin: 0 !important;
  max-width: 100% !important; 
  text-align: left !important;
}

::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}